In [1]:
# import necessary packages
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Connect to database
conn = psycopg2.connect(
    host = "localhost",
    database = "postgres",
    user="postgres",
    password="123"
)

# Open a cursor to perform database operations
cur = conn.cursor()

In [3]:
# Create a SQLAlchemy engine
engine = create_engine('postgresql://postgres:123@localhost:5432/postgres')

In [11]:
# hotels-related data

# Read hotels-europe_features.csv
hotels_features_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/hotels-europe_features.csv')

# Insert data into the 'hotels' table
hotels_features_df.to_sql('hotels', conn, if_exists='append', index=False)

# Read hotels-europe_price.csv
hotels_price_df = pd.read_csv('hotels-europe_price.csv')

# Insert data into the 'hotel_prices' table
hotels_price_df.to_sql('hotel_prices', conn, if_exists='append', index=False)

/var/folders/7v/tg_wmnr540zbjgnpg_jv88fw0000gn/T/ipykernel_20087/3382095506.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  hotels_features_df.to_sql('hotels', conn, if_exists='append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^

In [10]:
# flights-related data 
# Read intineraries.csv with only the first 100 rows bc the dataset is huge
intineraries_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/itineraries.csv', nrows=100)

# Insert data into the 'flights' table
intineraries_df.to_sql('flights', conn, if_exists='append', index=False)

/var/folders/7v/tg_wmnr540zbjgnpg_jv88fw0000gn/T/ipykernel_20087/1244674546.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  intineraries_df.to_sql('flights', conn, if_exists='append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^

In [ ]:
# car-related data 
# Read Availability.csv
availability_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/Availability.csv')

# Insert data into the 'vehicle_availability' table
availability_df.to_sql('vehicle_availability', conn, if_exists='append', index=False)

# Read Car.csv
car_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/Car.csv')

# Insert data into the 'vehicles' table
car_df.to_sql('vehicles', conn, if_exists='append', index=False)

# Read Customer.csv
customer_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/Customer.csv')

# Insert data into the 'customers' table
customer_df.to_sql('customers', conn, if_exists='append', index=False)

# Read Owner.csv
owner_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/Owner.csv')

# Insert data into the 'vehicle_owners' table
owner_df.to_sql('vehicle_owners', conn, if_exists='append', index=False)

# Read Vehicle_owner.csv
vehicle_owner_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/Vehicle_owner.csv')

# Insert data into the 'vehicle_owners' table
vehicle_owner_df.to_sql('vehicle_owners', conn, if_exists='append', index=False)

# Read cartype.csv
cartype_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/cartype.csv')

# Insert data into the 'vehicle_types' table
cartype_df.to_sql('vehicle_types', conn, if_exists='append', index=False)

In [ ]:
# car rental data
# Read rents.csv
rents_df = pd.read_csv('/Users/madiraa/Desktop/columbia_poan/sqldbs/sql-fall-2023-group-project/data/rents.csv')

# Insert data into the 'car_reservation' table
rents_df.to_sql('car_reservation', conn, if_exists='append', index=False)